{% extends "bootstrap/blank.html" %}

{% block title %} The Relative Results {% endblock%}

{% block content %}


    <h4 class="text-primary" >Here's your Results!</h4>

    <div class = "row pb-3">
        <div class="col">
            <p class="">{{ analysis }}</p>
        </div>
        <div class="col text-center">
            <img class="rounded" src="{{ analysis.filepath }}" style="width: 450px; height: 600px" >
        </div>

    </div>






{% endblock%}

{% block scripts %}

    <script>

        var navbarElement = document.getElementById("{{active}}"+"1");
        navbarElement.classList.remove("collapsed")
        navbarElement.classList.add("active")
    </script>

{% endblock %}