{% extends 'bootstrap/blank.html' %}

{% block title %} Past Tests {% endblock%}

{% block content %}

    <p id="message" class="text-secondary">
    {{ message }}
    </p>
    <ul>
        {% for links2 in links %}
            <div class="row pt-5 justify-content-start">
                {% for link in links2 %}
                    <div class="col-4 pr-5">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold mb-1">
                                            <a class = "btn btn-primary btn-user btn-block" href="/oldtest/{{ email }}-{{ link.testid }}">Test from {{ link.test }}</a>
                                        </div>
                                        <div class = 'row justify-content-around pt-3'>
                                            <img class = "rounded" src="{{ link.relative }}" style="width: 150px; height: 200px">
                                            <img class = "rounded" src="{{ link.main }}" style="width: 150px; height: 200px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                {% endfor %}
            </div>
        {% endfor %}
        <div class="row pt-5 justify-content-center">
            <div class="col-8">
                <a id='link' class="btn btn-primary btn-user btn-block" href="/clearOldTests"> Clear Your Tests</a>
            </div>
        </div>
    </ul>


{% endblock%}

{% block scripts %}

    <script>

        var navbarElement = document.getElementById("{{active}}"+"1");
        navbarElement.classList.remove("collapsed")
        navbarElement.classList.add("active")


    </script>

    <script>
        var link = document.getElementById('link')
        var msg = document.getElementById('message')
        if (msg.innerHTML.includes("It")) {
            link.href = "/"
            link.innerHTML = "Take a Relative Test"
        }


    </script>



{% endblock %}