{% extends 'bootstrap/blank.html' %}

{% block title %} Upload Test Image {% endblock%}

{% block content %}


    <h1>Here's your Past Tests</h1>

    <ul>
        {% for links2 in links %}
            <div class="row pt-5 justify-content-start">
                {% for link in links2 %}
                    <div class="col-4 pr-4">
                        <div class="row justify-content-center">
                            <a class = "btn btn-primary btn-user btn-block" href="/oldtest/{{ email }}-{{ link.test }}">Test from {{ link.test }}</a>
                        </div>
                        <div class="row justify-content-center">
                            <div class = 'col'>
                               <img class = "rounded" src="{{ link.main }}" style="width: 150px; height: 200px">
                            </div>
                            <div class = 'col'>
                                <img class = "rounded" src="{{ link.relative }}" style="width: 150px; height: 200px">
                            </div>
                        </div>
                    </div>


                {% endfor %}
            </div>
        {% endfor %}
    </ul>


{% endblock%}

{% block scripts %}

    <script>

        var navbarElement = document.getElementById("{{active}}"+"1");
        navbarElement.classList.remove("collapsed")
        navbarElement.classList.add("active")
    </script>



{% endblock %}