{% extends "bootstrap/blank.html" %}

{% block title %} Upload Your Images {% endblock%}

{% block content %}


    <form method='POST' enctype='multipart/form-data'>
        {{form.hidden_tag()}}

        <div class="row p-3 justify-content-around">
            <div class = "col-6 text-center">

                <h3>Choose A Photo of Yourself</h3>

                <div class="pb-3">
                    {{form.file(**{"id":"filefield"})}}
                </div>


                <div class="w-100"></div>

                <img id="mainImg" class = 'rounded' src="/static/img/empty_profile.png" style="width: 300px; height: 400px"/>

            </div>

            <div class = "col-6 text-center">
                <h3>Choose A Photo of a Relative</h3>

                <div class="pb-3">
                    {{form.relativeFile(**{"id":"relativeField"})}}
                </div>

                <div class="w-100"></div>

                <img id="relativeImg" class = 'rounded' src="/static/img/empty_profile.png" style="width: 300px; height: 400px"/>
            </div>

            <div class="w-100 p-3"></div>
        </div>

        <div class="row justify-content-center pt-5">

            <div class="col">
                {{form.submit()}}
            </div>
        </div>


    </form>




{% endblock%}

{%  block scripts %}
    <script>

            var filefield = document.getElementById('filefield')
            var img = document.getElementById('mainImg')
            filefield.onchange = evt => {
              const [file] = filefield.files
              if (file) {
                  img.src = URL.createObjectURL(file)
                  filefield.className = 'btn btn-success btn-user btn-primary'
              } else {
                  img.src = "/static/img/empty_profile.png"
                  filefield.className = 'btn btn-dark btn-user btn-primary'
              }
            }

            var filefield2 = document.getElementById('relativeField')
            var img2 = document.getElementById('relativeImg')
            filefield2.onchange = evt => {
              const [file] = filefield2.files
              if (file) {
                  img2.src = URL.createObjectURL(file)
                  filefield2.className = 'btn btn-success btn-user btn-primary'
              } else {
                  img2.src = "/static/img/empty_profile.png"
                  filefield2.className = 'btn btn-dark btn-user btn-primary'
              }
            }
            document.getElementById('submit').className = 'btn btn-primary btn-user btn-block'
            filefield2.className = 'btn btn-dark btn-user btn-primary'
            filefield.className = 'btn btn-dark btn-user btn-primary'
    </script>




    <script>

        var navbarElement = document.getElementById("{{active}}"+"1");
        navbarElement.classList.remove("collapsed")
        navbarElement.classList.add("active")
    </script>


{%  endblock %}